:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  z-index: 1;
  position: relative;
  margin: 0;
  display: flex;
  place-items: flex-start;
  width: 100vw;
  height: 100vh;
  border: none;
  outline: none;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: transparent;
}

button:focus,
button:focus-visible {
  outline: none;
}


::-webkit-scrollbar {
  width: 20px;

}

::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 8px;
  border: 6px solid transparent;
  background-clip: content-box;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;

}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 0 0px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {

  ::-webkit-scrollbar {
    width: 20px;

  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
    border: 6px solid transparent;
    background-clip: content-box;

  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: pointer;

  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 0 0px;
  }

  ::-webkit-scrollbar-track:hover {
    background: transparent;

  }
}





/* @media screen and (min-width: 900px) {
  @media (prefers-color-scheme: dark) {}
}

@media screen and (max-width: 900px) and (min-width: 520px) {
  @media (prefers-color-scheme: dark) {}
}

@media screen and (max-width: 520px) {
  @media (prefers-color-scheme: dark) {}
} */



/* all css changes done using properties in variables */
/* changed apis format in redux made separate service  */
/* kept interfaces in the separate files */
/* removed all the unused imports */
/* changed all importing in professional way */
/* updated use effect */
/* use arrow functions in proper way */
/* kept headers at one place */